<tr>
    <td>
        {{^data.overriddable}}
            <i class="icon-lock"></i>
        {{/data.overriddable}}
        <b>{{data.name}}</b>
        <br/>
        <span class="description">
            {{data.description}}
            {{#if data.defaultValue}}
                <i class="icon-arrow-right"></i> {{data.defaultValue}}
            {{/if}}
        </span>
    </td>
    <td>
        {{#granted 'UPDATE'}}
            <i class="parameter-update icon-pencil action action-optional action-inline" data-parameter-id="{{data.id}}"></i>
        {{/granted}}
        {{#granted 'DELETE'}}
            <i class="parameter-delete icon-trash action action-optional action-inline" data-parameter-id="{{data.id}}"></i>
        {{/granted}}
    </td>
</tr>