<form class="form-horizontal">
    <div class="control-group">
        <label class="control-label" for="pipeline-branch">{{loc 'pipeline.run.branch'}}</label>
        <div class="controls">
            <select id="pipeline-branch">
                <option value="0">{{loc 'pipeline.run.branch.default'}}</option>
                {{#branches}}
                    <option value="{{data.id}}">{{data.name}}</option>
                {{/branches}}
            </select>
        </div>
    </div>
    <div class="control-group">
        <table class="table">
            <tbody>
                {{#parameters}}
                    <tr>
                        <td>
                            <b>{{data.name}}</b>
                        </td>
                        <td>
                            {{#if data.overriddable}}
                                <input id="run-parameter-{{data.id}}" value="{{data.defaultValue}}" />
                            {{else}}
                                <input id="run-parameter-{{data.id}}" type="hidden" value="{{data.defaultValue}}" />
                                <span id="run-parameter-value-{{data.id}}">{{data.defaultValue}}</span>
                                <i class="icon-lock"></i>
                            {{/if}}
                        </td>
                    </tr>
                {{/parameters}}
            </tbody>
        </table>
    </div>
</form>