<#include "/lib/layout.html">

<@layout_std
    page="pipeline"
    title=pipeline.name?html
    noscript=true
    breadcrumbs={
        loc("home"): ""
    }>

    <@title value=pipeline.name description=pipeline.description />

    <div class="row-fluid">
        <div class="span12">
            TODO Here'll come the main dashboard for the pipeline...
        </div>
    </div>

    <div class="row-fluid">
        <div class="span4">
            <@section title=loc('pipeline.parameters') description=loc('pipeline.parameters.description')>
                TODO Parameters
            </@section>
        </div>
        <div class="span4">
            <@section title=loc('pipeline.stages') description=loc('pipeline.stages.description')>
                TODO Stages
            </@section>
        </div>
        <div class="span4">
            <@section title=loc('pipeline.branches') description=loc('pipeline.branches.description')>
                TODO Branches
            </@section>
        </div>
    </div>

</@layout_std>