<#include "/lib/layout.html">

<@layout_std
    page="pipeline"
    title=pipeline.name?html
    breadcrumbs={
        loc("home"): ""
    }>

    <input id="pipeline-id" type="hidden" value="${pipeline.id?c}" />

    <@title value=pipeline.name description=pipeline.description />

    <div class="row-fluid">
        <div class="span12">
            TODO Here'll come the main dashboard for the pipeline...
        </div>
    </div>

    <#assign span = "span4" />
    <#if secGrant('PIPELINE', pipeline.id, 'UPDATE')>
        <#assign span = "span3" />
    </#if>

    <div class="row-fluid">
        <div class="${span}">
            <@section title=loc('pipeline.parameters') description=loc('pipeline.parameters.description')>
                <div
                    id="pipeline-parameter-list"
                    class="dynamic"
                    dynamic-controller="pipeline-parameter-list"
                    dynamic-pipeline-id="${pipeline.id?c}"
                    ></div>
                <#if secGrant('PIPELINE', pipeline.id, 'UPDATE')>
                    <button id="pipeline-parameter-create" type="button" class="btn"><@lh key="pipeline.parameter.create" /></button>
                </#if>
            </@section>
        </div>
        <div class="${span}">
            <@section title=loc('pipeline.stages') description=loc('pipeline.stages.description')>
                TODO Stages
            </@section>
        </div>
        <div class="${span}">
            <@section title=loc('pipeline.branches') description=loc('pipeline.branches.description')>
                <div
                    id="pipeline-branch-list"
                    class="dynamic"
                    dynamic-controller="pipeline-branch-list"
                    dynamic-pipeline-id="${pipeline.id?c}"
                    ></div>
                <#if secGrant('PIPELINE', pipeline.id, 'UPDATE')>
                    <button id="pipeline-branch-create" type="button" class="btn"><@lh key="pipeline.branch.create" /></button>
                </#if>
            </@section>
        </div>
        <#if secGrant('PIPELINE', pipeline.id, 'UPDATE')>
            <div class="${span}">
                <@section title=loc('pipeline.authorizations') description=loc('pipeline.authorizations.description')>
                    <div
                        id="pipeline-authorization-list"
                        class="dynamic"
                        dynamic-controller="pipeline-authorization-list"
                        dynamic-pipeline-id="${pipeline.id?c}"
                        ></div>
                    <button id="pipeline-authorization-create" type="button" class="btn"><@lh key="pipeline.authorization.create" /></button>
                </@section>
            </div>
        </#if>
    </div>

</@layout_std>